TWITTER = {
    'CONSUMER_KEY': '[YOURS HERE]',
    'CONSUMER_SECRET': '[YOURS HERE]',
    'REQUEST_TOKEN_URL': '[YOURS HERE]',
    'AUTHORIZE_URL': '[YOURS HERE]',
    'ACCESS_TOKEN_URL': '[YOURS HERE]',
    'CALLBACK_URL': '[YOURS HERE]',
}
